<a href="https://colab.research.google.com/github/Nexbase8123/Python-Practice/blob/main/Week_3_note.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Week3_class1

In [ ]:
#...............Sets and how to manipulate sets.........................#
'''In Python, a set is an unordered collection of unique elements.You can create a set by enclosing comma-separated elements within curly braces {} or by using the set() constructor. They are mutable but each element is unique, hence it contains no duplicates.'''

'In Python, a set is an unordered collection of unique elements.You can create a set by enclosing comma-separated elements within curly braces {} or by using the set() constructor. They are mutable but each element is unique, hence it contains no duplicates.'

In [ ]:
# lets create a set
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
# lets check the type
type(my_set)

set

In [ ]:
# lets iterate through the set
for item in my_set:
  print(item)

1
2
3
4
5

In [ ]:
# lets add an element to our set...Hint: Using the add()function
my_set.add(6)

In [ ]:
# lets remove the first element, which is 1
my_set.remove(1) # disadevange of using .remove() function, if its not in the set, it will throw error message

In [ ]:
# We can better use .discard() to remove elements
my_set.discard(2)
print(my_set)

{3, 4, 5, 6}

In [ ]:
# lets combine two sets. Hint: use a union() function
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
combined_set = set1.union(set2)
print(combined_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# lets chech the elements that are the same in two sets or unique to the two sets. Hint: use .intersection()
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
intersection_set = set1.intersection(set2)
print(intersection_set)

{4, 5}

Assignment:
1. Do a study on set data structure, find out about a. difference, b.issubset, c.issuperset.

**Mini Project:**
1. Create an email splitter.
* Create a script that will take your email address as an input. Then use the dot split() method to split the email into username and domain name.

2. Create an ID or MatricNo splitter.
* Create a script that will take in your FellowID as an input. Then use the dot split() method to split your fellowID into 3 (fellow, year and ID)

3. Create a character, word and sentence counter.
* Create a script that will take in a word or sentence. Then use the dot split(), dot count() and dot len() methods to build your logic.

[link to attendance](https://forms.gle/5biBEB3z1yKE6TmCA)

### Control Statement

Control statements are like the instructions that tell your program what to do next based on different situations. They are also used to alter the flow of a program based on certain conditions. The most common control statement is the if statement, which helps us make decisions in our code.

We have different type of control statements;
####  Conditional Statements
- `if` statement

- `if-else` statement

- `if-elif-else` statement

####  Looping Statements

- `for` loop

- `while` loop

####  Control Flow Alteration Statements

- `break` statement

- `continue` statement

- `pass` statement

#### Conditional Statement

In [ ]:
#..................Conditional Statements......................................#
Image("/content/drive/MyDrive/3MTT Data Science/Instructors' Notebook/conditional.gif")


`IF` Statement

What is an if statement?
An if statement allows you to run certain code only if a condition is True. If the condition is False, the code inside the if block will not run.

Let us see the Syntax of an if Statement

In [ ]:
#if {condition}:
#  {"do somthing"}
    # code to run if condition is True

- condition: This is a test expression that evaluates to either True or False.
- :(colon) : Marks the start of the indented block of code.
- Indentation: The code inside the if block must be indented (usually 4 spaces).

In [ ]:
# Let's see an example of a basic 'if' statement using the input input...
age = int(input("please, enter your age: "))

if age <= 12:
    print("You are a child.")

In [ ]:
# LEts see an example of "if else" statement using  input function...
age = int(input("Enter your age: "))

if age <= 12:
  print("You are a child.")
else:
  print("You are a teenager.")

In [ ]:
# Lets see an example of a basic "if elif else" statement.
age = int(input("Enter your age: "))

if age <= 12:
  print("You are a child.")
elif age <= 19:
  print("You are a teenager.")
else:
  print("You are a young adult.")

In [ ]:
# Lets use "more than one elif" statement...
age = int(input("Enter your age: "))

if age <= 12:
  print("You are a child.")
elif age <= 19:
  print("You are a teenager.")
elif age <= 35:
  print("You are a young adult.")
else:
  print("You are an adult.")

In [ ]:
# lets use "multiple elif " statement...
age = int(input("Enter your age: "))

if age <= 12:
  print("You are a child.")
elif age <= 19:
  print("You are a teenager.")
elif age <= 35:
  print("You are a young adult.")
elif age <= 65:
  print("You are an adult.")
else:
  print("You are a senior citizen.")

[Kindly sign your attendance here](https://forms.gle/shfw5Ax1PiyV9zd79)

### Mini Project 2
1. Take students score as an input.The score should be an integer between 0 and 100.
2. Calcuate the corresponding letter grade based on the following scale:
* A : 80 - 100
* B : 70 - 79
* C : 50 - 69
* D : 45 - 49
* F : Below 44
3. It should be able to print out the grades when a score is entered.

In [ ]:
#mini project 2
student_score = int(input ('your score:'))

**Nested if and if-else statements**
* Are conditional statements within other conditional statements. They allow you to create more complex decision-making structures in your code.


**Nested if**
* You can have an if statement inside another if statement. The inner if statement will only be executed if the outer if statement's condition is true.

**Nested if-else**
* You can have an if-else statement inside another if or if-else statement. This allows you to handle multiple conditions and outcomes in a hierarchical manner, that is, following hierarchies.

In [ ]:
#..............................Nested if............................#
if condition1:
        # code to execute if condition1 is true
        if condition2:
            # code to execute if condition1 and condition2 are true

In [ ]:
# LEts check if input is a positive number and even number
num = int(input("Enter a number: "))

if num > 0:
  print("The number is positive.")
  if num % 2 == 0:
    print("The number is even.")

In [ ]:
#..................................Nested if else................................#
if condition1:
        # code to execute if condition1 is true
        if condition2:
            # code to execute if condition1 and condition2 are true
        else:
            # code to execute if condition1 is true and condition2 is false
    else:
        # code to execute if condition1 is false

In [ ]:
# Lets work on eligibility of who can join the military

age = int(input("Enter your age: "))

height = int(input("Enter your height in centimeters: "))

if age >= 18:
    if height >= 170:
        print("You are eligible to join the army.")
    else:
        print("You are not tall enough to join the army.")
else:
    print("You are too young to join the army.")

### Functions
In programming, a function is like a mini-program within a larger program. It helps you group a set of tasks that need to be performed multiple times. You can think of a function like a recipe: just like you follow specific steps to make a meal, in programming, a function follows a set of instructions to achieve a task.


Think of a coffee machine as a function in real life. You press a button (provide inputs like 'Cappuccino' or 'Latte'), and the coffee machine processes your input and gives you a coffee (the output). Inside the machine, there are steps, like heating water and mixing coffee, which are hidden from you but executed to give the final result.


In this analogy:

- Input: The type of coffee (Cappuccino, Latte)
- Process: The steps to make coffee (heating, mixing)
- Output: Your coffee!
In Python, functions work in a similar way.

In [ ]:
Image("/content/drive/MyDrive/3MTT Data Science/Instructors' Notebook/download (3).png")

#### Anatomy of a Function

In [ ]:
def function_name(parameters):

    # Function body
    # Perform tasks here
    return result  # Optional: returns a value


Let's break down a typical function. A function is made up of the following:

- The definition: A function is defined using the `def` keyword
- Function name: A descriptive name to identify the function.
- Parameters: Inputs to the function (optional). This is an argument that the user will need to input when using the function
- Function body: The code inside the function that performs a specific task.
- Return: Optional. The `return` keyword gives back a result when the function is called.

#### Why Use Functions?

Functions allow you to:

- Organize code: Breaking down tasks into smaller chunks makes your code easier to read.
- Reuse code: Once you write a function, you can use it multiple times without rewriting the same code.
- Simplify debugging: Since functions are self-contained, it's easier to debug small pieces of code rather than the whole program.

#### Defining a function
In Python, you define a function using the def keyword. Let’s write a simple function that greets someone:

In [ ]:
# Defining a function
def greet(name):
    # This function prints a greeting message
    print(f"Hello, {name}! Welcome to the Python class.")

In [ ]:
def greet_us(name):
  print(f"Hi, {name}, welcome to Data Science class, week 4")

In [ ]:
greet_us("Agu Joy")

In [ ]:
# Calling the function
greet("Alice")

#### Function Without Parameters:

Sometimes, we can define a function that doesn’t need any input. Here's an example:

In [ ]:
def say_hello():
    print("Hello, world!")

In [ ]:
def greeting():
  print("Hi, Welcome to Data Science class, week 4")

In [ ]:
greeting()

In [ ]:
# Call the function
say_hello()

#### Function With Multiple Parameters

You can also pass one or more than one argument to a function

In [ ]:
def add_numbers(a, b):
    print(a + b)

In [ ]:
def Ibrahim_and_joy(Ibrahim_age, Joy_age):
  print(Ibrahim_age +Joy_age)

In [ ]:
Ibrahim_and_joy(22, 25)

In [ ]:
# Calling the function
add_numbers(5, 3)

In [ ]:
# Calling the function
result = add_numbers(5, 3)

In [ ]:
result = add_numbers(5, 3)
print(result)

####  Function with a Return Statement

You can use the `return` statement to get a value from a function

In [ ]:
def add_numbers(a, b):
    return a + b

In [ ]:
add_numbers(2,3)

In [ ]:
result = add_numbers(4)
print(result)  # TypeError :because we used 1 arguments/parameters as input when we defined the function to take in just 2 parameters as input

In [ ]:
result = add_numbers(2,3,4)
print(result) # TypeError :because we used 3 arguments/parameters as input when we defined the function to take in just 2 parameters as input.

In [ ]:
def square_number(x):
    return x * x

In [ ]:
result = square_number(4)
print(result)  # Output: 16

Variables outside the function have a global scope and can be accessed inside the function.

#### Default Parameters

You can set a default value for a function’s parameter, which will be used if no argument is provided.

In [ ]:
def greet(name="stranger"):
    return (f"Hello, {name}!")

`name="stranger"` – If no name is provided when calling the function, it uses "stranger" as the default value. Let us see this below

In [ ]:
greet()

In [ ]:
greet("Chisom")

#### Keyword Arguments

You can specify arguments using their parameter names. This is essentially useful when a function has many parameters.

In [ ]:
def introduce(name, age, city):
    print(f"My name is {name}, I am {age} years old, and I live in {city}.")

In [ ]:
introduce(age=25, name="Alice", city="New York")

#### Lambda Functions
A lambda function is a small anonymous function defined using the lambda keyword. It's often used for short, simple tasks.
Let's see an example below

In [ ]:
# Lambda function to add two numbers
add = lambda x, y: x + y

 - lambda - This is the keyword definition of the kind of function we are trying to describe, `lambda function`
 - x, y: This is the parameters/input the function takes in
 - x + y: This opertaion being carried out. i.e the output of the function.

 In general, `lambda x, y: x + y` creates an anonymous function that takes two arguments, x and y, and returns their sum.

In [ ]:
print(add(2, 3))

#### Scope of Variables in a Function

Variables created inside a function are local to that function and can’t be accessed from outside. This is called local scope. Let's see an example

In [ ]:
def my_function():
    x = 10
    return x

In [ ]:
my_function()

In [ ]:
print(x)  # Error: NameError because 'x' is not defined outside the function

In [ ]:
x = 5  # Global variable

In [ ]:
def print_number():
    print(x)

In [ ]:
print_number()  # Output: 5

### CLASS TASK

- Write a function 'multiply', that takes two numbers as input and returns their product.
- Write a function 'is_even', that takes a number and returns True if it's even, and False otherwise.
- Write a function that prints your name 5 times using a loop inside the function.

### Week3_class1

In [ ]:
#...............Sets and how to manipulate sets.........................#
'''In Python, a set is an unordered collection of unique elements.You can create a set by enclosing comma-separated elements within curly braces {} or by using the set() constructor. They are mutable but each element is unique, hence it contains no duplicates.'''

'In Python, a set is an unordered collection of unique elements.You can create a set by enclosing comma-separated elements within curly braces {} or by using the set() constructor. They are mutable but each element is unique, hence it contains no duplicates.'

In [ ]:
# lets create a set
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
# lets check the type
type(my_set)

set

In [ ]:
# lets iterate through the set
for item in my_set:
  print(item)

1
2
3
4
5

In [ ]:
# lets add an element to our set...Hint: Using the add()function
my_set.add(6)

In [ ]:
# lets remove the first element, which is 1
my_set.remove(1) # disadevange of using .remove() function, if its not in the set, it will throw error message

In [ ]:
# We can better use .discard() to remove elements
my_set.discard(2)
print(my_set)

{3, 4, 5, 6}

In [ ]:
# lets combine two sets. Hint: use a union() function
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
combined_set = set1.union(set2)
print(combined_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# lets chech the elements that are the same in two sets or unique to the two sets. Hint: use .intersection()
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
intersection_set = set1.intersection(set2)
print(intersection_set)

{4, 5}

Assignment:
1. Do a study on set data structure, find out about a. difference, b.issubset, c.issuperset.

**Mini Project:**
1. Create an email splitter.
* Create a script that will take your email address as an input. Then use the dot split() method to split the email into username and domain name.

2. Create an ID or MatricNo splitter.
* Create a script that will take in your FellowID as an input. Then use the dot split() method to split your fellowID into 3 (fellow, year and ID)

3. Create a character, word and sentence counter.
* Create a script that will take in a word or sentence. Then use the dot split(), dot count() and dot len() methods to build your logic.

[link to attendance](https://forms.gle/5biBEB3z1yKE6TmCA)

### Control Statement

Control statements are like the instructions that tell your program what to do next based on different situations. They are also used to alter the flow of a program based on certain conditions. The most common control statement is the if statement, which helps us make decisions in our code.

We have different type of control statements;
####  Conditional Statements
- `if` statement

- `if-else` statement

- `if-elif-else` statement

####  Looping Statements

- `for` loop

- `while` loop

####  Control Flow Alteration Statements

- `break` statement

- `continue` statement

- `pass` statement

#### Conditional Statement

In [ ]:
#..................Conditional Statements......................................#
Image("/content/drive/MyDrive/3MTT Data Science/Instructors' Notebook/conditional.gif")


`IF` Statement

What is an if statement?
An if statement allows you to run certain code only if a condition is True. If the condition is False, the code inside the if block will not run.

Let us see the Syntax of an if Statement

In [ ]:
#if {condition}:
#  {"do somthing"}
    # code to run if condition is True

- condition: This is a test expression that evaluates to either True or False.
- :(colon) : Marks the start of the indented block of code.
- Indentation: The code inside the if block must be indented (usually 4 spaces).

In [ ]:
# Let's see an example of a basic 'if' statement using the input input...
age = int(input("please, enter your age: "))

if age <= 12:
    print("You are a child.")

In [ ]:
# LEts see an example of "if else" statement using  input function...
age = int(input("Enter your age: "))

if age <= 12:
  print("You are a child.")
else:
  print("You are a teenager.")

In [ ]:
# Lets see an example of a basic "if elif else" statement.
age = int(input("Enter your age: "))

if age <= 12:
  print("You are a child.")
elif age <= 19:
  print("You are a teenager.")
else:
  print("You are a young adult.")

In [ ]:
# Lets use "more than one elif" statement...
age = int(input("Enter your age: "))

if age <= 12:
  print("You are a child.")
elif age <= 19:
  print("You are a teenager.")
elif age <= 35:
  print("You are a young adult.")
else:
  print("You are an adult.")

In [ ]:
# lets use "multiple elif " statement...
age = int(input("Enter your age: "))

if age <= 12:
  print("You are a child.")
elif age <= 19:
  print("You are a teenager.")
elif age <= 35:
  print("You are a young adult.")
elif age <= 65:
  print("You are an adult.")
else:
  print("You are a senior citizen.")

[Kindly sign your attendance here](https://forms.gle/shfw5Ax1PiyV9zd79)

### Mini Project 2
1. Take students score as an input.The score should be an integer between 0 and 100.
2. Calcuate the corresponding letter grade based on the following scale:
* A : 80 - 100
* B : 70 - 79
* C : 50 - 69
* D : 45 - 49
* F : Below 44
3. It should be able to print out the grades when a score is entered.

In [ ]:
#mini project 2
student_score = int(input ('your score:'))

**Nested if and if-else statements**
* Are conditional statements within other conditional statements. They allow you to create more complex decision-making structures in your code.


**Nested if**
* You can have an if statement inside another if statement. The inner if statement will only be executed if the outer if statement's condition is true.

**Nested if-else**
* You can have an if-else statement inside another if or if-else statement. This allows you to handle multiple conditions and outcomes in a hierarchical manner, that is, following hierarchies.

In [ ]:
#..............................Nested if............................#
if condition1:
        # code to execute if condition1 is true
        if condition2:
            # code to execute if condition1 and condition2 are true

In [ ]:
# LEts check if input is a positive number and even number
num = int(input("Enter a number: "))

if num > 0:
  print("The number is positive.")
  if num % 2 == 0:
    print("The number is even.")

In [ ]:
#..................................Nested if else................................#
if condition1:
        # code to execute if condition1 is true
        if condition2:
            # code to execute if condition1 and condition2 are true
        else:
            # code to execute if condition1 is true and condition2 is false
    else:
        # code to execute if condition1 is false

In [ ]:
# Lets work on eligibility of who can join the military

age = int(input("Enter your age: "))

height = int(input("Enter your height in centimeters: "))

if age >= 18:
    if height >= 170:
        print("You are eligible to join the army.")
    else:
        print("You are not tall enough to join the army.")
else:
    print("You are too young to join the army.")

### Functions
In programming, a function is like a mini-program within a larger program. It helps you group a set of tasks that need to be performed multiple times. You can think of a function like a recipe: just like you follow specific steps to make a meal, in programming, a function follows a set of instructions to achieve a task.


Think of a coffee machine as a function in real life. You press a button (provide inputs like 'Cappuccino' or 'Latte'), and the coffee machine processes your input and gives you a coffee (the output). Inside the machine, there are steps, like heating water and mixing coffee, which are hidden from you but executed to give the final result.


In this analogy:

- Input: The type of coffee (Cappuccino, Latte)
- Process: The steps to make coffee (heating, mixing)
- Output: Your coffee!
In Python, functions work in a similar way.

In [ ]:
Image("/content/drive/MyDrive/3MTT Data Science/Instructors' Notebook/download (3).png")

#### Anatomy of a Function

In [ ]:
def function_name(parameters):

    # Function body
    # Perform tasks here
    return result  # Optional: returns a value


Let's break down a typical function. A function is made up of the following:

- The definition: A function is defined using the `def` keyword
- Function name: A descriptive name to identify the function.
- Parameters: Inputs to the function (optional). This is an argument that the user will need to input when using the function
- Function body: The code inside the function that performs a specific task.
- Return: Optional. The `return` keyword gives back a result when the function is called.

#### Why Use Functions?

Functions allow you to:

- Organize code: Breaking down tasks into smaller chunks makes your code easier to read.
- Reuse code: Once you write a function, you can use it multiple times without rewriting the same code.
- Simplify debugging: Since functions are self-contained, it's easier to debug small pieces of code rather than the whole program.

#### Defining a function
In Python, you define a function using the def keyword. Let’s write a simple function that greets someone:

In [ ]:
# Defining a function
def greet(name):
    # This function prints a greeting message
    print(f"Hello, {name}! Welcome to the Python class.")

In [ ]:
def greet_us(name):
  print(f"Hi, {name}, welcome to Data Science class, week 4")

In [ ]:
greet_us("Agu Joy")

In [ ]:
# Calling the function
greet("Alice")

#### Function Without Parameters:

Sometimes, we can define a function that doesn’t need any input. Here's an example:

In [ ]:
def say_hello():
    print("Hello, world!")

In [ ]:
def greeting():
  print("Hi, Welcome to Data Science class, week 4")

In [ ]:
greeting()

In [ ]:
# Call the function
say_hello()

#### Function With Multiple Parameters

You can also pass one or more than one argument to a function

In [ ]:
def add_numbers(a, b):
    print(a + b)

In [ ]:
def Ibrahim_and_joy(Ibrahim_age, Joy_age):
  print(Ibrahim_age +Joy_age)

In [ ]:
Ibrahim_and_joy(22, 25)

In [ ]:
# Calling the function
add_numbers(5, 3)

In [ ]:
# Calling the function
result = add_numbers(5, 3)

In [ ]:
result = add_numbers(5, 3)
print(result)

####  Function with a Return Statement

You can use the `return` statement to get a value from a function

In [ ]:
def add_numbers(a, b):
    return a + b

In [ ]:
add_numbers(2,3)

In [ ]:
result = add_numbers(4)
print(result)  # TypeError :because we used 1 arguments/parameters as input when we defined the function to take in just 2 parameters as input

In [ ]:
result = add_numbers(2,3,4)
print(result) # TypeError :because we used 3 arguments/parameters as input when we defined the function to take in just 2 parameters as input.

In [ ]:
def square_number(x):
    return x * x

In [ ]:
result = square_number(4)
print(result)  # Output: 16

Variables outside the function have a global scope and can be accessed inside the function.

#### Default Parameters

You can set a default value for a function’s parameter, which will be used if no argument is provided.

In [ ]:
def greet(name="stranger"):
    return (f"Hello, {name}!")

`name="stranger"` – If no name is provided when calling the function, it uses "stranger" as the default value. Let us see this below

In [ ]:
greet()

In [ ]:
greet("Chisom")

#### Keyword Arguments

You can specify arguments using their parameter names. This is essentially useful when a function has many parameters.

In [ ]:
def introduce(name, age, city):
    print(f"My name is {name}, I am {age} years old, and I live in {city}.")

In [ ]:
introduce(age=25, name="Alice", city="New York")

#### Lambda Functions
A lambda function is a small anonymous function defined using the lambda keyword. It's often used for short, simple tasks.
Let's see an example below

In [ ]:
# Lambda function to add two numbers
add = lambda x, y: x + y

 - lambda - This is the keyword definition of the kind of function we are trying to describe, `lambda function`
 - x, y: This is the parameters/input the function takes in
 - x + y: This opertaion being carried out. i.e the output of the function.

 In general, `lambda x, y: x + y` creates an anonymous function that takes two arguments, x and y, and returns their sum.

In [ ]:
print(add(2, 3))

#### Scope of Variables in a Function

Variables created inside a function are local to that function and can’t be accessed from outside. This is called local scope. Let's see an example

In [ ]:
def my_function():
    x = 10
    return x

In [ ]:
my_function()

In [ ]:
print(x)  # Error: NameError because 'x' is not defined outside the function

In [ ]:
x = 5  # Global variable

In [ ]:
def print_number():
    print(x)

In [ ]:
print_number()  # Output: 5

### CLASS TASK

- Write a function 'multiply', that takes two numbers as input and returns their product.
- Write a function 'is_even', that takes a number and returns True if it's even, and False otherwise.
- Write a function that prints your name 5 times using a loop inside the function.

### Week3_class1

In [ ]:
#...............Sets and how to manipulate sets.........................#
'''In Python, a set is an unordered collection of unique elements.You can create a set by enclosing comma-separated elements within curly braces {} or by using the set() constructor. They are mutable but each element is unique, hence it contains no duplicates.'''

'In Python, a set is an unordered collection of unique elements.You can create a set by enclosing comma-separated elements within curly braces {} or by using the set() constructor. They are mutable but each element is unique, hence it contains no duplicates.'

In [ ]:
# lets create a set
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
# lets check the type
type(my_set)

set

In [ ]:
# lets iterate through the set
for item in my_set:
  print(item)

1
2
3
4
5

In [ ]:
# lets add an element to our set...Hint: Using the add()function
my_set.add(6)

In [ ]:
# lets remove the first element, which is 1
my_set.remove(1) # disadevange of using .remove() function, if its not in the set, it will throw error message

In [ ]:
# We can better use .discard() to remove elements
my_set.discard(2)
print(my_set)

{3, 4, 5, 6}

In [ ]:
# lets combine two sets. Hint: use a union() function
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
combined_set = set1.union(set2)
print(combined_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# lets chech the elements that are the same in two sets or unique to the two sets. Hint: use .intersection()
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
intersection_set = set1.intersection(set2)
print(intersection_set)

{4, 5}

Assignment:
1. Do a study on set data structure, find out about a. difference, b.issubset, c.issuperset.

**Mini Project:**
1. Create an email splitter.
* Create a script that will take your email address as an input. Then use the dot split() method to split the email into username and domain name.

2. Create an ID or MatricNo splitter.
* Create a script that will take in your FellowID as an input. Then use the dot split() method to split your fellowID into 3 (fellow, year and ID)

3. Create a character, word and sentence counter.
* Create a script that will take in a word or sentence. Then use the dot split(), dot count() and dot len() methods to build your logic.

[link to attendance](https://forms.gle/5biBEB3z1yKE6TmCA)

### Control Statement

Control statements are like the instructions that tell your program what to do next based on different situations. They are also used to alter the flow of a program based on certain conditions. The most common control statement is the if statement, which helps us make decisions in our code.

We have different type of control statements;
####  Conditional Statements
- `if` statement

- `if-else` statement

- `if-elif-else` statement

####  Looping Statements

- `for` loop

- `while` loop

####  Control Flow Alteration Statements

- `break` statement

- `continue` statement

- `pass` statement

#### Conditional Statement

In [ ]:
#..................Conditional Statements......................................#
Image("/content/drive/MyDrive/3MTT Data Science/Instructors' Notebook/conditional.gif")


`IF` Statement

What is an if statement?
An if statement allows you to run certain code only if a condition is True. If the condition is False, the code inside the if block will not run.

Let us see the Syntax of an if Statement

In [ ]:
#if {condition}:
#  {"do somthing"}
    # code to run if condition is True

- condition: This is a test expression that evaluates to either True or False.
- :(colon) : Marks the start of the indented block of code.
- Indentation: The code inside the if block must be indented (usually 4 spaces).

In [ ]:
# Let's see an example of a basic 'if' statement using the input input...
age = int(input("please, enter your age: "))

if age <= 12:
    print("You are a child.")

In [ ]:
# LEts see an example of "if else" statement using  input function...
age = int(input("Enter your age: "))

if age <= 12:
  print("You are a child.")
else:
  print("You are a teenager.")

In [ ]:
# Lets see an example of a basic "if elif else" statement.
age = int(input("Enter your age: "))

if age <= 12:
  print("You are a child.")
elif age <= 19:
  print("You are a teenager.")
else:
  print("You are a young adult.")

In [ ]:
# Lets use "more than one elif" statement...
age = int(input("Enter your age: "))

if age <= 12:
  print("You are a child.")
elif age <= 19:
  print("You are a teenager.")
elif age <= 35:
  print("You are a young adult.")
else:
  print("You are an adult.")

In [ ]:
# lets use "multiple elif " statement...
age = int(input("Enter your age: "))

if age <= 12:
  print("You are a child.")
elif age <= 19:
  print("You are a teenager.")
elif age <= 35:
  print("You are a young adult.")
elif age <= 65:
  print("You are an adult.")
else:
  print("You are a senior citizen.")

[Kindly sign your attendance here](https://forms.gle/shfw5Ax1PiyV9zd79)

### Mini Project 2
1. Take students score as an input.The score should be an integer between 0 and 100.
2. Calcuate the corresponding letter grade based on the following scale:
* A : 80 - 100
* B : 70 - 79
* C : 50 - 69
* D : 45 - 49
* F : Below 44
3. It should be able to print out the grades when a score is entered.

In [ ]:
#mini project 2
student_score = int(input ('your score:'))

**Nested if and if-else statements**
* Are conditional statements within other conditional statements. They allow you to create more complex decision-making structures in your code.


**Nested if**
* You can have an if statement inside another if statement. The inner if statement will only be executed if the outer if statement's condition is true.

**Nested if-else**
* You can have an if-else statement inside another if or if-else statement. This allows you to handle multiple conditions and outcomes in a hierarchical manner, that is, following hierarchies.

In [ ]:
#..............................Nested if............................#
if condition1:
        # code to execute if condition1 is true
        if condition2:
            # code to execute if condition1 and condition2 are true

In [ ]:
# LEts check if input is a positive number and even number
num = int(input("Enter a number: "))

if num > 0:
  print("The number is positive.")
  if num % 2 == 0:
    print("The number is even.")

In [ ]:
#..................................Nested if else................................#
if condition1:
        # code to execute if condition1 is true
        if condition2:
            # code to execute if condition1 and condition2 are true
        else:
            # code to execute if condition1 is true and condition2 is false
    else:
        # code to execute if condition1 is false

In [ ]:
# Lets work on eligibility of who can join the military

age = int(input("Enter your age: "))

height = int(input("Enter your height in centimeters: "))

if age >= 18:
    if height >= 170:
        print("You are eligible to join the army.")
    else:
        print("You are not tall enough to join the army.")
else:
    print("You are too young to join the army.")

### Functions
In programming, a function is like a mini-program within a larger program. It helps you group a set of tasks that need to be performed multiple times. You can think of a function like a recipe: just like you follow specific steps to make a meal, in programming, a function follows a set of instructions to achieve a task.


Think of a coffee machine as a function in real life. You press a button (provide inputs like 'Cappuccino' or 'Latte'), and the coffee machine processes your input and gives you a coffee (the output). Inside the machine, there are steps, like heating water and mixing coffee, which are hidden from you but executed to give the final result.


In this analogy:

- Input: The type of coffee (Cappuccino, Latte)
- Process: The steps to make coffee (heating, mixing)
- Output: Your coffee!
In Python, functions work in a similar way.

In [ ]:
Image("/content/drive/MyDrive/3MTT Data Science/Instructors' Notebook/download (3).png")

#### Anatomy of a Function

In [ ]:
def function_name(parameters):

    # Function body
    # Perform tasks here
    return result  # Optional: returns a value


Let's break down a typical function. A function is made up of the following:

- The definition: A function is defined using the `def` keyword
- Function name: A descriptive name to identify the function.
- Parameters: Inputs to the function (optional). This is an argument that the user will need to input when using the function
- Function body: The code inside the function that performs a specific task.
- Return: Optional. The `return` keyword gives back a result when the function is called.

#### Why Use Functions?

Functions allow you to:

- Organize code: Breaking down tasks into smaller chunks makes your code easier to read.
- Reuse code: Once you write a function, you can use it multiple times without rewriting the same code.
- Simplify debugging: Since functions are self-contained, it's easier to debug small pieces of code rather than the whole program.

#### Defining a function
In Python, you define a function using the def keyword. Let’s write a simple function that greets someone:

In [ ]:
# Defining a function
def greet(name):
    # This function prints a greeting message
    print(f"Hello, {name}! Welcome to the Python class.")

In [ ]:
def greet_us(name):
  print(f"Hi, {name}, welcome to Data Science class, week 4")

In [ ]:
greet_us("Agu Joy")

In [ ]:
# Calling the function
greet("Alice")

#### Function Without Parameters:

Sometimes, we can define a function that doesn’t need any input. Here's an example:

In [ ]:
def say_hello():
    print("Hello, world!")

In [ ]:
def greeting():
  print("Hi, Welcome to Data Science class, week 4")

In [ ]:
greeting()

In [ ]:
# Call the function
say_hello()

#### Function With Multiple Parameters

You can also pass one or more than one argument to a function

In [ ]:
def add_numbers(a, b):
    print(a + b)

In [ ]:
def Ibrahim_and_joy(Ibrahim_age, Joy_age):
  print(Ibrahim_age +Joy_age)

In [ ]:
Ibrahim_and_joy(22, 25)

In [ ]:
# Calling the function
add_numbers(5, 3)

In [ ]:
# Calling the function
result = add_numbers(5, 3)

In [ ]:
result = add_numbers(5, 3)
print(result)

####  Function with a Return Statement

You can use the `return` statement to get a value from a function

In [ ]:
def add_numbers(a, b):
    return a + b

In [ ]:
add_numbers(2,3)

In [ ]:
result = add_numbers(4)
print(result)  # TypeError :because we used 1 arguments/parameters as input when we defined the function to take in just 2 parameters as input

In [ ]:
result = add_numbers(2,3,4)
print(result) # TypeError :because we used 3 arguments/parameters as input when we defined the function to take in just 2 parameters as input.

In [ ]:
def square_number(x):
    return x * x

In [ ]:
result = square_number(4)
print(result)  # Output: 16

Variables outside the function have a global scope and can be accessed inside the function.

#### Default Parameters

You can set a default value for a function’s parameter, which will be used if no argument is provided.

In [ ]:
def greet(name="stranger"):
    return (f"Hello, {name}!")

`name="stranger"` – If no name is provided when calling the function, it uses "stranger" as the default value. Let us see this below

In [ ]:
greet()

In [ ]:
greet("Chisom")

#### Keyword Arguments

You can specify arguments using their parameter names. This is essentially useful when a function has many parameters.

In [ ]:
def introduce(name, age, city):
    print(f"My name is {name}, I am {age} years old, and I live in {city}.")

In [ ]:
introduce(age=25, name="Alice", city="New York")

#### Lambda Functions
A lambda function is a small anonymous function defined using the lambda keyword. It's often used for short, simple tasks.
Let's see an example below

In [ ]:
# Lambda function to add two numbers
add = lambda x, y: x + y

 - lambda - This is the keyword definition of the kind of function we are trying to describe, `lambda function`
 - x, y: This is the parameters/input the function takes in
 - x + y: This opertaion being carried out. i.e the output of the function.

 In general, `lambda x, y: x + y` creates an anonymous function that takes two arguments, x and y, and returns their sum.

In [ ]:
print(add(2, 3))

#### Scope of Variables in a Function

Variables created inside a function are local to that function and can’t be accessed from outside. This is called local scope. Let's see an example

In [ ]:
def my_function():
    x = 10
    return x

In [ ]:
my_function()

In [ ]:
print(x)  # Error: NameError because 'x' is not defined outside the function

In [ ]:
x = 5  # Global variable

In [ ]:
def print_number():
    print(x)

In [ ]:
print_number()  # Output: 5

### CLASS TASK

- Write a function 'multiply', that takes two numbers as input and returns their product.
- Write a function 'is_even', that takes a number and returns True if it's even, and False otherwise.
- Write a function that prints your name 5 times using a loop inside the function.