<a href="https://colab.research.google.com/github/Nexbase8123/Python-Practice/blob/main/Week_4_note.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Week4_Class4
## Introduction To Data Analysis
1. Types of data

* ![dataty.jpg](https://miro.medium.com/v2/resize:fit:720/format:webp/1*FX6fZHoefiEhsIlc8bwjwQ.jpeg)


2. Importing python packages
  * Direct import

```
import math
```

  * Import Specific Attributes

```
from math import pi, sqrt
```
  * Import Module with an Alias

```
import math as mt
```
  * Import All functions/ Attributes


```
from math import *
```


* To gain more understanding on importing python modules
 * [Click here to read an article](https://www.datacamp.com/tutorial/modules-in-python)

 * or  [here to watch a video](https://www.youtube.com/watch?v=uTc39ZXStP0)


3. Introduction to pandas
#### Data Manipulation Functions in Pandas

* read_csv(): Reads data from a CSV file into a DataFrame.
* head(): Returns the first few rows of a DataFrame.
* tail(): Returns the last few rows of a DataFrame.
* describe(): Provides summary statistics for a DataFrame.
* info(): Provides information about a DataFrame's columns and data types.
* shape: Returns the dimensions of a DataFrame.
* loc: Access data by row and column labels.
* iloc: Access data by integer index.
* fillna(): Fills missing values.
* dropna(): Drops missing values.
* groupby(): Groups data by one or more columns and applies functions to each group.
* merge(): Merges two DataFrames based on common columns.
* concat(): Concatenates DataFrames along a specified axis.
### Data Cleaning and Preparation in Pandas

* drop_duplicates(): Removes duplicate rows.
* rename(): Renames columns or indexes.
* astype(): Converts data types.
* to_numeric(): Converts data to numeric format.
* to_datetime(): Converts data to datetime format.

### Data Analysis and Visualization in Pandas

* value_counts(): Counts the frequency of unique values in a Series or DataFrame.
* corr(): Calculates the correlation between columns.
* cov(): Calculates the covariance between columns.
* plot(): Creates various types of plots (line, bar, * scatter, etc.).
* hist(): Creates histograms.
* boxplot(): Creates box plots.

4. Creating Pandas Series and Data Frame
   * a. Using dictionary
```
sey_dictionary = {"name:"seyi", "schools":"3mtt","track: "Data Science"}
```
   * b. Using lists of dictionaries (multiple dictioanries inside a single list)

```
data_science_cohort2 = [{"name":"Tobi", "age": 21},
                        {"name":"Joy", "age": 25},
                        {"name":"Toheebat", "age": 25},
                        {"name":"Rashidat", "age": 36},
                        {"name":"Emmanuel", "age":29}
                       ]
```


   * c. Using dictionaries of lists (multiple lists serving as values in a single dictionary)


```
attendance = {"Class1":["Joy","Rashidat","Seyi"],
              "class2":["Rashidat","Tobi","Seyi","Ikechukwu"]
              "class3":["Emmanuel","Esther","Ibrahim","Toheebat"]
             }
```



   * d. using dictionaries of dicdtionaries( Multiple dictionaries inside a dictionary)

```
bio_data = {'Fe00234: {'Name': 'Seyi', 'Age': 25},
            'Fe00235': {'Name': 'Esther', 'Age': 30},
            'Fe00236': {'Name': 'Tobi', 'Age': 21}
            }
```


5. syntax:
```
pd.Series(data) # Create a series
pd.DataFrame(data) # Create a Dataframe
```

6. Steps:
* Define your data in a dictionary
* Write your Pandas dataframe/ series syntax
* Insert the variable name of your data as a parameter into the sytax.

In [ ]:
import pandas as pd

In [ ]:
# packages ---collections of modules
# modules ---collections of functions
# functions

In [ ]:
bio_data = {'Fe00234': {'Name': 'Seyi', 'Age': 25},'Fe00235': {'Name': 'Esther', 'Age': 30},'Fe00236': {'Name': 'Tobi', 'Age': 21}}

In [ ]:
bio = pd.DataFrame(bio_data)

In [ ]:
bio

In [ ]:
import pandas as pd
Series()
pd.Series()

DataFrame()
pd.DataFrame()

[Week 4 Attendance](https://forms.gle/6h3kt4pSGAkkykqu5)



```
# This is formatted as code
```

[Follow link 1 for further help with understanding variables](https://drive.google.com/drive/folders/1jzgLJ-7QypfxFVGJNqm0a5FuXEzI2-YM)

[Follow link 2 for further help with understanding Conditional statement](https://drive.google.com/drive/folders/1jzgLJ-7QypfxFVGJNqm0a5FuXEzI2-YM)

[Follow link 3 for further help with undertanding functions](https://drive.google.com/drive/folders/1jzgLJ-7QypfxFVGJNqm0a5FuXEzI2-YM)

[Bonus class on Error Handing](https://drive.google.com/file/d/1dk_SiihE_ya9nTldSOd9rB_7w9VNMPHM/view?usp=drive_link)

In [ ]:
# practice your codes here

####What is expected of you to learn as regarding data acquisition and Cleaning

Objective 3: Distinguish between the different types of data, data structures, and the basics of data collection and cleaning.

* Importing data manipulation libraries (Numpy and Pandas)
* Understanding Series, Dataframe, Arrays and Matrix
* Generating your own data (series, DataFrame, Array or Matrix)
* Understanding and removing missing values

In [ ]:
# lets get our hands dirty...

## Week 1 Assignment

For this week, complete the following tasks and submit on your portal as your

assignment for the week:
1. Write a Python script to calculate basic statistics (e.g., sum, average, min,

max).
2.  Write a Python script that converts an integer to a float.

* Deadline: Sunday,1st September 2024, 6:00pm.

In [ ]:
# Do have a great weekend see you next week!

### FINAL NOTE:
####1.  Do remember to fill in your details [here](https://forms.gle/1sVFhYsQwVyFxxpr5). Thank you
####2. Submit your assignment [here](https://forms.gle/7kYsQqkRsmiaQGR38) for review, and also ensure to submit on your portal as instructed.
####3. Remember to watch and pratice with all the materials shared with you by 3MTT.

####4. You can have access to this notebook [here](https://drive.google.com/drive/u/0/folders/1F_wZuUYvSKHVMUm8lZPQsktfIwiX8L1W) always make sure to check it from time to time as we wil keep updating it.
####5. (Optional) You can submit your practice notebook [here](https://drive.google.com/drive/u/0/folders/1F_wZuUYvSKHVMUm8lZPQsktfIwiX8L1W) for review.Save the notebook with your full name and fellowID

In [ ]:
import pandas as pd

In [ ]:
sey_dictionary = {"name" :"seyi","schools":"3mtt","track":"Data Science"}

In [ ]:
data_science_cohort2 = [{"name":"Tobi", "age": 21},
                        {"name": "Joy","age": 25},
                        {"name": "Toheebat","age":25},
                        {"name": "Rashidat","age":36},
                        {"name":"Emmanuel","age": 29}
                        ]

In [ ]:
attendance = {"Class1":["Joy","Rashidat","Seyi"],
              "class2":["Rashidat","Tobi","Seyi","Ikechukwu"],
              "class3":["Emmanuel","Esther","Ibrahim","Toheebat"]
              }

In [ ]:
bio_data = {'Fe00234': {'Name': 'Seyi', 'Age': 25},
            'Fe00235': {'Name': 'Esther', 'Age': 30},
            'Fe00236': {'Name': 'Tobi', 'Age': 21}
            }

In [ ]:
import pandas as pd

In [ ]:
# pd.read_csv()
trip = pd.read_csv("trip.csv")
#dothead() or.head() ----> to view first five rows of our dataset
trip.head()